header h1 {
    font-size: 1.8em;
    font-family: serif;
    border-left: 10px solid red;
    margin: 0px 30px;
}
header h2 {
    font-size: 0.3em;
    font-family: serif;
    border-left: 10px solid red;
    margin: 0px 30px;
}
    